:root {
  --background: #ffffff;
  --foreground: #171717;

  --gray-300: #41414d;
  --gray-400: #5d5d6d;
  --gray-500: #737380;
  --gray-900: #09090a;

  --orange-300: #ffa585;
  --blue-500: #115d8c;
  --red-500: #de3838;
  --green-500: #51b853;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-saira);
}
